.staff-item {
    background: #f2f2f2;
    margin: 20px;
    position: relative;
    max-width: 500px;
    padding: 10px;
}

.staff-item::before {
	content: '';
	width: 40px;
	height: 3px;
	position: absolute;
	top: 50%;
	background: rgb(13, 107, 214);
	left: -40px;
}

.staff-name {
    font-weight: bold;
}

ul {
    position: relative;
    list-style: none;
}

ul:before {
	content: "";
	width: 3px;
	height: 100%;
	background: rgb(13, 107, 214);
	position: absolute;
	top: -20px;
	bottom: 0;
	left: calc((0px) + 20px);
	z-index: -1;
}

section.skills div {
    background: gainsboro;
    margin: 0 5px;
    padding: 2px;
}

/* disable collapse animation */
.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}

/* hide vertical line on top/first item */
body > ul:before {
    display: none;
}
